@font-face {
    font-family: happyFont;
    src: url(../fonts/SpotMonkey-zLO0.ttf);
}

@font-face {
    font-family: sweetFont;
    src: url(../fonts/sweetFont.otf);
}

@font-face {
    font-family: cinnamonFont;
    src: url(../fonts/cinnamon\ cake.ttf);
}
@font-face {
    font-family: plainBold;
    src: url(../fonts/happyFont.otf);
}
.happyFont{
    font-family: happyFont;
    color: black;
    background-color: pink;
    opacity: .7;
    border-radius: 20px;


}

.happyFont2{
    font-family: happyFont;
    color: rgb(3, 3, 3);
    background-color: pink;
    height: auto;
    opacity: .7;
    border-radius: 20px;
    height: 35px;

}
.happyFont3{
    font-family: happyFont;
    color: white;
    background-color: black;
    opacity: .7;
    border-radius: 20px;


}

#quoteArea{

    margin-right: 0px;
    margin-left: 0px;
}

.backgroundImage1{
    background-image: url("../images/icecream.jpg");
    overflow-x:  none;
    overflow-y: auto;
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;

}



.carousel-item{
  
        width: 100%;
        height: 500px;

}

.menuOption{
    font-family: sweetFont;
    font-weight: bolder;
    color: rgb(216, 17, 83);
    font-size: 30px;
    font-weight: bold;

}


ul{
    list-style-type: none;
    padding: 0;
}
.colorPink{
    color: rgb(255, 250, 251);
    font-weight: bolder;
    font-size: 23px;
    background-color: rgb(185, 109, 109);
    border-radius: 20px;
    opacity: .7;
    font-family: cinnamonFont;

}
.menuOption{
    width: 78%;

}
.menuOption:hover{
   background-color: hotpink;
}

.menuOption:active{

    box-shadow: 0 5px hotpink;
    transform: translateY(4px);


}

.icecreamIcon{
    height: 60px;
}

.fontSize{
    font-size: 25px;
}

.fontAndColor{
    
    font-weight: bolder;
    color:white;
    font-family:cinnamonFont ;
}

.carousel-item img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.box1{
    background-color: rgb(247, 229, 229);
    opacity: .8;

}

.font{
    font-family: plainBold;
    color: rgb(0, 0, 0);
    
}
 .Header{

    
    /* top: 0px;
    height: 120px;
    max-width: 100%;
    align-items: center ; */
    display: flex;
    justify-content:center ;
    
} 

@media only screen and (max-width: 991px){
    .addBigPad{
        padding: 0px  0px  0px  0px !important;
    }
}


.addBigPad{
    padding: 0px 150px 0px 150px;
}

.addSmallPad{
    padding: 0px 15px 0px 15px;
}

.pinkText{

    color: #F70F59;
    font-size: x-large;
}

/* .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .topRow {
    overflow: hidden;
  } */


.hero-image{

    background-image: url(../images/berandom.png);
    height: 770px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}

.aboutImg1{
    background-image: url(../images/nitrogenimg.jpg);
    height:365px;
    width:700px;
    background-position: center;
    background-size: cover;
    align-items: center;
    }

.pinkBG{

    background-color: #E7BDBF;
}

.followMargin{
    margin-left: 37%;
}

.addBigPad{
    padding: 0px 150px 0px 150px;
}

.aboutFontSize{

    font-size: large;
    font-family: plainBold;
}

.funFont{
    font-family: sweetFont;
    font-weight: bold;
    font-size: 45px;
}



.height{

    height: 500px;
}


.counterImg{
    background-image: url(../images/behindCounter.jpg);
    height:355px;
    width:650px;
    background-position: center;
    background-size: cover;
    align-items: center;
    }

    .storeSign{

    background-image: url(../images/storeSign.jpg);
    height:355px;
    width:650px;
    background-position: center;
    background-size: cover;
    align-items: center;

    }

    .randomFlowerImg{
        background-image: url(../images/randomFlower.jpg);
        height:355px;
        width:650px;
        background-position: center;
        background-size: cover;
        align-items: center;
    }

.imgStreet{

    background-image: url(../images/randomStreet.jpg);
    height:355px;
    width:650px;
    background-position: center;
    background-size: cover;
    align-items: center;
}



.form-control{

    background-color: #E7BDBF;
    color: black;
}

#exampleFormControlInput1{
    
    color: black;
   

}

.card{
    border: 10px solid white;
}

.contactUsMargin{

    margin-left: 22%;

}

.padRight{
    padding-right: -10px;
}


#oneFlavor{
    background-color: rgb(199, 120, 47);
}
#oneFlavor2{
    background-color: rgb(199, 120, 47);
}


#oneFlavor2:active{
    background-color:  rgb(199, 120, 47);
}

#twoFlavor{
    background-color:  rgb(199, 120, 47);
}

#twoFlavor2{
    background-color:  rgb(199, 120, 47);
}

#threeFlavor{
    background-color:  rgb(199, 120, 47);
}

#threeFlavor2{
    background-color:  rgb(199, 120, 47);
}

.blackRBG{
    color: black;
}